body {
  background-color: #cce4e4;
  text-overflow: clip;
  font-family: "Lato";
}

h1,
h2 {
  text-align: center;
}

p {
  text-align: center;
}

.poem {
  font-family: "Lato";
  font-size: 20px;
  text-align: center;
  padding-top: 1px;
}

img {
  max-width: 80%;
  display: block;
  margin-inline: auto;
}

ul {
  list-style-type: none;
}
